* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, span {
    color: #e5e3e3;
    background-color:#272727;
    font-size: 12px;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 2em;
}

.about {
    font-size: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #272727;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 20px;
    border: 1px solid #acacaccc;
}

.visible-state {
    visibility: hidden;
}

.highlight {
    font-size: inherit;
    font-weight: bold;
    color: #e5e3e3;
    border-bottom: 4px solid #44baff93;
    background-color: transparent;
}

.tips-btn {
    margin: 14px;
    font-size: 1em;
    background-color: #272727;
    padding: 10px 40px 10px 40px;
    color: #e5e3e3;
    font-family: 'JetBrains Mono', monospace;;
    border: 1px solid #e5e3e3;
    border-radius: 10px;
}

.next-btn {
    background-color: #e5e3e3;
    color: #272727;
    border: 0px solid;
}

.tips-btn:hover {
    background-color: #639ec0;
    transform: scale(1.1);
    border: 1px solid #639ec0;
    color: #272727;
    cursor: pointer;
}

.tips-btn:focus {
    background-color: #639ec0;
    border: 1px solid #639ec0;
    color: #272727;
}

.tips {
    visibility: hidden;
    z-index: 4;
    background: #1e1e1ef5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tips-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 3;
}

.tips-img {
    width: 100%;
    min-width: 300px;
    height: auto;
}

.tips-content {
    width: 300px;
    height: 500px;
    padding: 0 10px 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    background-color: #272727;
    color: #e5e3e3;

    border-radius: 15px;
    border: 2.5px dashed #e5e3e3;
    filter: drop-shadow(7px 7px #181717);
}

.tips-text {
    padding: 20px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
}

.tips-text > p, .tips-text > h1 {
    font-size: 1.5em;
    padding-bottom: 10%;
    line-height: 1.5em;
}

.close-tips {
    cursor: pointer;
    position: absolute;
    transform: translateX(125px);
}

.back-tips {
    cursor: pointer;
    position: absolute;
    transform: translateX(-125px);
}

.tips-footer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.tips-footer-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tips-footer-startup {
    display: flex;
    flex-direction: row;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
}

.tips-startup-checkbox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 10px;
    width: 15px;
    background-color: #272727;
    border: 1px solid #e5e3e3;
    border-radius: 4px;
}

.tips-startup-checkbox:after {
    height: 13px;
    content: url('https://api.iconify.design/fluent/checkmark-12-filled.svg?color=%23e5e3e3&width=15&height=13');
    color: #e5e3e3;
    display: none;
}

.tips-startup-checkbox:hover {
    background-color: #639ec0;
    border-color: #639ec0;
}

.tips-startup-checkbox:checked:after {
    display: block;
}

.tips-startup-checkbox:checked:hover:after {
    content: url('https://api.iconify.design/fluent/checkmark-12-filled.svg?color=%23272727&width=15&height=13');
    color: #272727;
}

.tooltip-down {
    position: absolute;
    padding: 7px;
    bottom: 90%;
    background-color: #181717;
    color: #e5e3e3;
    display: none;
    z-index: 1;
    border-radius: 10px;
    margin-left: -55px;
}

.tooltip-down::after {
    position: absolute;
    content: "";
    top: 99%; 
    left: 15%;
    border-top: 5px solid #181717;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.menu-btns:hover > .tooltip-down {
    display: inline-block;
}

.tooltip-tips {
    position: absolute;
    padding: 7px;
    bottom: 90%;
    right: 40%;
    background-color: #181717;
    color: #e5e3e3;
    display: none;
    z-index: 1;
    border-radius: 10px;
    margin-left: -55px;
}

.tooltip-tips::after {
    position: absolute;
    content: "";
    top: 99%; 
    left: 30%;
    border-top: 5px solid #181717;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.menu-btns:hover > .tooltip-tips {
    display: inline-block;
}

.tooltip-settings {
    position: absolute;
    padding: 7px;
    bottom: 90%;
    right: 5%;
    background-color: #181717;
    color: #e5e3e3;
    display: none;
    z-index: 1;
    border-radius: 10px;
    margin-left: -55px;
}

.tooltip-settings::after {
    position: absolute;
    content: "";
    top: 99%; 
    left: 30%;
    border-top: 5px solid #181717;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.menu-btns:hover > .tooltip-settings {
    display: inline-block;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
}

.header {
    width: 100%;
    height: 65px;
    padding: 0 5px 0 5px;

    border-bottom: 1px solid #e5e3e3;
    background-color:#272727;

    position: fixed;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.ascii-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateY(35px);
}

.menu {
    height: 75px;
    background-color: #272727;
    padding: 20px;
    

    border: 2.5px dashed #e5e3e3;
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.menu-btns {
    color:#e5e3e3;
    background-color: Transparent;
    border: 0;
    margin: 10px;
}

.menu-btns:hover {
    color: #639ec0;
}

.contact {
    display: flex;
    align-items: center;
}

.body-container {
    display: flex;
    flex-wrap: wrap;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview-container {
    margin-top: 100px;
    border: 2.5px dashed #e5e3e3;

    width: 270px;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.side-container {
    height: 500px;
    margin-top: 10%;
    padding: 50px;

    display: flex;
    flex-direction: inherit;
    align-items: center;
}

.button-container {
    width: 100%;

    background-color: #e5e3e3;
    border-radius: 10px;
    padding: 14px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    color: #272727;
    padding-left: 20px;
}

.button {
    padding: 5px 10px 5px 10px;
    background-color: #181717;
    color: #e5e3e3;
    border-radius: 5px;
    border: 0;
    font-family: 'JetBrains Mono', monospace;
}

.button:hover,
.button:focus {
    background-color: #639ec0;
    color: #181717;
    cursor: pointer;
    transform: scale(1.1);
}

.button:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input + label {
    padding: 5px 10px 5px 10px;
    background-color: #181717;
    color: #e5e3e3;
    border-radius: 5px;
    border: 0;

    cursor: pointer;
}

.file-input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.file-input:focus + label,
.file-input + label:hover {
    background-color: #639ec0;
    color: #181717;
    transform: scale(1.1);
}

.about {
    height: 40%;
    margin-top: 15%;
    font-size: 1.5em;
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
}

.about > p {
    margin-top: 10%;
}
.about > .menu-btns {
    margin: 2px;
}

@media only screen and (min-width: 961px) {
    h1 {
        font-size: 3em;
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    .header {
        width: 100%;
        height: 65px;
        position: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #e5e3e3;
        background-color:#272727;

        flex-direction: inherit;
    }

    .menu-container {
        margin-top: 100px;
        margin-bottom: 40px;

        display: flex;
        justify-content: space-around;
        
    }

    .menu {
        padding: 20px;
        transform: translateY(40px);
    }

    .body-container {
        display: flex;
        justify-content: center;
    }

    .body {
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .side-container {
        padding: 20px;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .preview-container {
        border: 2.5px dashed #e5e3e3;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (min-width: 426px) and (max-width: 960px) {
    h1 {
        font-size: 3em;
    }

    .header-container
    .header
    .menu-container
    .menu
    .body-container
    .body
    .side-container
    .preview-container
    .about
    .button{
        width: 50%;
    }
    

    .preview-container{
        width: 500px;
        height: 500px;
    }
}